                                  Lakemariam Y. Worku
                                  Bantwale D. Enyew
                                       2019

# Extract dates with lambda or amplitude of MJO phases greater than 1

In [ ]:
  
import pandas as pd
from datetime import datetime
import os
os.getcwd()

In [12]:
#df = get_RMM()
import os
os.getcwd()

def get_RMM(url='http://cawcr.gov.au/staff/mwheeler/maproom/RMM/',fname='RMM1RMM2.74toRealtime.txt',start=1974, end=2018):
    """
    # Function to load the MJO index(es) from Wheeler and Hendon (RMM1 and RMM2) from the URL
    
    """
    data = pd.read_table('%s%s' % (url, fname), sep='\s*', skiprows=2, header=None, \
                           names = ['year','month','day','RMM1', 'RMM2', 'MJO phase', 'amplitude', 'origin'])
    dates = [datetime(y,m,d) for y,m,d in zip(data.year, data.month, data.day)]
    data.index = dates
    data = data.truncate(before="%s-1-1" % ( start ), after= "%s-12-31" % ( end ))
    return data

In [13]:
data = pd.read_table('rmm.74toRealtime.txt', sep='\s*', skiprows=2, header=None, \
                           names = ['year','month','day','RMM1', 'RMM2', 'MJO phase', 'amplitude', 'origin'], engine='python')
dates = [datetime(y,m,d) for y,m,d in zip(data.year, data.month, data.day)]
data.index = dates

/anaconda3/lib/python3.6/site-packages/pandas/io/parsers.py:2227: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())
/anaconda3/lib/python3.6/site-packages/pandas/io/parsers.py:2229: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())

In [14]:
data.head()

,year,month,day,RMM1,RMM2,MJO phase,amplitude,origin
1974-06-01,1974,6,1,1.63447,1.20304,5,2.02948,Final_value:__OLR_&_NCEP_winds
1974-06-02,1974,6,2,1.60289,1.01512,5,1.89729,Final_value:__OLR_&_NCEP_winds
1974-06-03,1974,6,3,1.51625,1.08551,5,1.86476,Final_value:__OLR_&_NCEP_winds
1974-06-04,1974,6,4,1.50981,1.03573,5,1.83092,Final_value:__OLR_&_NCEP_winds
1974-06-05,1974,6,5,1.55906,1.30518,5,2.03326,Final_value:__OLR_&_NCEP_winds

In [15]:
df_sliced = data.loc['19830101':'20081231']
df_sliced.tail()

,year,month,day,RMM1,RMM2,MJO phase,amplitude,origin
2008-12-27,2008,12,27,1.240658,0.135563,5,1.248042,Final_value:__OLR_&_NCEP_winds
2008-12-28,2008,12,28,1.054147,0.365631,5,1.115756,Final_value:__OLR_&_NCEP_winds
2008-12-29,2008,12,29,0.839363,0.261835,5,0.879254,Final_value:__OLR_&_NCEP_winds
2008-12-30,2008,12,30,0.972383,0.639708,5,1.163939,Final_value:__OLR_&_NCEP_winds
2008-12-31,2008,12,31,0.915760,0.748312,5,1.182619,Final_value:__OLR_&_NCEP_winds

In [16]:
df_amp = df_sliced[df_sliced['amplitude']>=1]
df_amp.head()

,year,month,day,RMM1,RMM2,MJO phase,amplitude,origin
1983-01-11,1983,1,11,0.160224,1.183620,6,1.19441,Final_value:__OLR_&_NCEP_winds
1983-01-12,1983,1,12,-0.100410,1.300960,7,1.30483,Final_value:__OLR_&_NCEP_winds
1983-01-13,1983,1,13,-0.251400,1.271660,7,1.29628,Final_value:__OLR_&_NCEP_winds
1983-01-14,1983,1,14,-0.315770,1.243890,7,1.28334,Final_value:__OLR_&_NCEP_winds
1983-01-17,1983,1,17,-0.921280,0.433039,8,1.01798,Final_value:__OLR_&_NCEP_winds

In [17]:
df_ph1 = df_amp[df_amp['MJO phase']==1]
df_ph2 = df_amp[df_amp['MJO phase']==2]
df_ph3 = df_amp[df_amp['MJO phase']==3]
df_ph4 = df_amp[df_amp['MJO phase']==4]
df_ph5 = df_amp[df_amp['MJO phase']==4]
df_ph6 = df_amp[df_amp['MJO phase']==6]
df_ph7 = df_amp[df_amp['MJO phase']==7]
df_ph8 = df_amp[df_amp['MJO phase']==8]

In [18]:
df_ph88 =df_ph8.reset_index()

df_ph88['index'].to_csv('phase_compisite.csv',sep=',')
df_ph88.shape

(688, 9)

In [19]:
jja =[6,7,8]
df_ph1.reset_index()
df_jja_ph1 = df_ph1[(df_ph1['month']==jja[0]) | (df_ph1['month']==jja[1])|(df_ph1['month']==jja[2])]
df_jja_ph1.shape

(271, 8)

## Function to import text data and process composite

In [20]:
from datetime import datetime
def processes_txt():
    """
    This function imports text data to read and coverts it
    into dataframe for ease of manimpulation
    """
    data = pd.read_table('rmm.74toRealtime.txt', sep='\s*', skiprows=2, header=None, \
                           names = ['year','month','day','RMM1', 'RMM2', 'MJO phase', 'amplitude', 'origin'], engine='python')
    dates = [datetime(y,m,d) for y,m,d in zip(data.year, data.month, data.day)]
    data.index = dates
    return data
data = processes_txt()
data.head()

/anaconda3/lib/python3.6/site-packages/pandas/io/parsers.py:2227: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())
/anaconda3/lib/python3.6/site-packages/pandas/io/parsers.py:2229: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())

,year,month,day,RMM1,RMM2,MJO phase,amplitude,origin
1974-06-01,1974,6,1,1.63447,1.20304,5,2.02948,Final_value:__OLR_&_NCEP_winds
1974-06-02,1974,6,2,1.60289,1.01512,5,1.89729,Final_value:__OLR_&_NCEP_winds
1974-06-03,1974,6,3,1.51625,1.08551,5,1.86476,Final_value:__OLR_&_NCEP_winds
1974-06-04,1974,6,4,1.50981,1.03573,5,1.83092,Final_value:__OLR_&_NCEP_winds
1974-06-05,1974,6,5,1.55906,1.30518,5,2.03326,Final_value:__OLR_&_NCEP_winds

In [21]:
def slice_filter(data):
    """
    This function will take the dataframe output from the above function
    and slice the date into the desired period of study (e.g. 1984-2009) and
    filter the data according to the amplitude variable and next will classies 
    the data according to the phase variable
    """
    df_sliced = data.loc['19830101':'20081231']
    df_amp = df_sliced[df_sliced['amplitude']>=1]
    df_ph1 = df_amp[df_amp['MJO phase']==1]
    df_ph2 = df_amp[df_amp['MJO phase']==2]
    df_ph3 = df_amp[df_amp['MJO phase']==3]
    df_ph4 = df_amp[df_amp['MJO phase']==4]
    df_ph5 = df_amp[df_amp['MJO phase']==5]
    df_ph6 = df_amp[df_amp['MJO phase']==6]
    df_ph7 = df_amp[df_amp['MJO phase']==7]
    df_ph8 = df_amp[df_amp['MJO phase']==8]
    return df_ph1,df_ph2,df_ph3,df_ph4,df_ph5,df_ph6,df_ph7,df_ph8
    
df_ph1,df_ph2,df_ph3,df_ph4,df_ph5,df_ph6,df_ph7,df_ph8 =   slice_filter(data)

In [22]:
def seasonal_compisite(df,jja =[6,7,8],son = [9,10,11],djf=[12,1,2],mam=[3,4,5]):
    """
    This function will take the phase data that obtained in the above function
    and outputs date indexes used  for composite analysis later
    """
    df = df.reset_index()
    df_jja = df[(df['month']==jja[0]) | (df['month']==jja[1])|(df['month']==jja[2])]
    df_son = df[(df['month']==son[0]) | (df['month']==son[1])|(df['month']==son[2])]
    df_mam = df[(df['month']==mam[0]) | (df['month']==mam[1])|(df['month']==mam[2])]
    df_djf = df[(df['month']==djf[0]) | (df['month']==djf[1])|(df['month']==jja[2])]
    #df_jja['index'].to_csv(filename,sep=',')
    return df_jja,df_son,df_mam,df_djf

df_jja,df_son,df_mam,df_djf = seasonal_compisite(df_ph8,jja =[6,7,8],son = [9,10,11],djf=[12,1,2],mam=[3,4,5])

df_jja['index'].to_csv('jja_irws_ph8.csv',sep=',')
df_mam['index'].to_csv('mam_irws_ph8.csv',sep=',')
df_son['index'].to_csv('son_irws_ph8.csv',sep=',')
df_djf['index'].to_csv('djf_irws_ph8.csv',sep=',')
df_djf.shape

(154, 9)